@font-face {
    font-family: "Moon";
    src: url("../fonts/MoonL.eot");
    src: url("../fonts/MoonL.eot?#iefix") format("embedded-opentype"),url("../fonts/MoonL.woff") format("woff"),url("../fonts/MoonL.ttf") format("truetype"),url("../fonts/MoonL.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}
#particle-canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}
.testimonials{
	width:100%;
	height:100%;
}
.introvideo{
	width:100%;
	height:100%;
}
@font-face {
    font-family: "KGB";
    src: url("../fonts/KG Blank Space Sketch.eot");
    src: url("../fonts/KG Blank Space Sketch.eot?#iefix") format("embedded-opentype"),url("../fonts/KG Blank Space Sketch.woff") format("woff"),url("../fonts/KG Blank Space Sketch.ttf") format("truetype"),url("../fonts/KG Blank Space Sketch.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CabinSketch";
    src: url("../fonts/Cabin Sketch Regular.eot");
    src: url("../fonts/Cabin Sketch Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/Cabin Sketch Regular.woff") format("woff"),url("../fonts/Cabin Sketch Regular.ttf") format("truetype"),url("../fonts/Cabin Sketch Regular.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}
#video-container {
	position: absolute;
}
#video-container {
	
	height:100%;
	width:100%;
	overflow: hidden;
}


#pic{
	position:relative;
	border-radius:5%;
	top:5%;
	display:block;
	margin:0 auto;
}
@font-face {
    font-family: "SUNN";
    src: url("../fonts/SUNN.eot");
    src: url("../fonts/SUNN.eot?#iefix") format("embedded-opentype"),url("../fonts/SUNN.woff") format("woff"),url("../fonts/SUNN.ttf") format("truetype"),url("../fonts/SUNN.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}

.landing {
	width:100%;
	height:100%;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.projects {
	width:100%;
	height:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6fbdfd+0,40a4f0+40,0576d3+100 */
background: #6fbdfd; /* Old browsers */
background: -moz-linear-gradient(45deg,  #6fbdfd 0%, #40a4f0 40%, #0576d3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #6fbdfd 0%,#40a4f0 40%,#0576d3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #6fbdfd 0%,#40a4f0 40%,#0576d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fbdfd', endColorstr='#0576d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	z-index: -100;	
}
.aboutme {
	width:100%;
	height:100%;
	background:white;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
	z-index: -100;	
}
#teamarrow{
	position:relative; top:-7%; color:white;
}
.ourteam{
	width:100%;
	height:70%;
	
}

.contactus{
	width:100%;
	height:100%;
	
}

#bizlogo
{
	position:absolute;
	top:36%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
#maintitle {
	font-family:'KGB';
	font-size:500%;
	color:white;
	position:absolute;
	top:53%;
	left:50%;
	text-align:center;
	transform:translateX(-50%) translateY(-50%);
}
strong{
	font-size:150%;
}
#subtitle {
	font-size:300%;
	font-family:'SUNN';
	letter-spacing:0px;
	position:absolute;
	color:white;
	text-align:center;
	top:60%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
.fa-chevron-down {
	position:absolute;
	color:white;
	text-align:center;
	top:90%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
a {
	text-decoration:none;
	color:white;
}
a:hover {
	color:cyan;
}
a:active {
	color:cyan;
}

#maintitleproject {
	font-family:'KGB',sans-serif;
	color:#2CB5E8;
	/* linear-gradient(0deg, #F6F6F8 0%, #1fc8db 51%, #28BBE4 75%) */
	font-size:630%;
	margin-bottom:5%;
	margin-top:10%;
	text-align:center;
}
#maintitleproject1 {
	font-family:'KGB',sans-serif;
	font-size:700%;
	color:#0A77BB;
	text-align:center;
}
#projecttitle {
	position:relative;
	top:7%;
	font-family:'SUNN';
	font-size:300%;
	color:#2F92D0;
	text-align:center;
}
#projectdesc {
	position:relative;
	font-family:'Moon';
	color:#2CB5E8;
	top:7%;
	font-size:300%;
	margin-bottom: 10%;
	text-align:center;
}
#projectdesc1 {
	color:#51CAF3;
	position:relative;
	font-family:'Raleway';
	top:7%;
	font-size:120%;
	text-align:center;
}
#bizdoors {
	position:relative;
	top:15%;
	border-radius:5%;
	padding:0;
	display:block;
	margin:0 auto;
}
#arrow1 {
	position:relative;
	text-align:center;
	top:15%;
	color:#2CB5E8;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
#arrow3 {
	position:relative;
	text-align:center;
	color:#2CB5E8;
	left:20px;
	transform:translateX(-50%) translateY(-50%);
}
.ghost {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: black;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
}

#arrow2 {
	position:relative;
	text-align:center;
	top:17%;
	color:#2CB5E8;
	left:50%;
	text-shadow: 0px 1px black;
	transform:translateX(-50%) translateY(-50%);
}
#potrait {
	position:relative;
	border-radius:5%;
	display:block;
	margin:0 auto;
}
#icons {
	display:block;
	text-align:center;
	color:white;
	width:100%;
	position:absolute;
	top:70%;
	
}
.fa-facebook,.fa-envelope,.fa-linkedin,.fa-github {
	margin-right:1%;
}
#maintitleproject2 {
	font-family:'KGB',sans-serif;
	font-size:600%;
	margin-top:5%;
	position:relative;
	
	top:-100px;
	text-align:center;
	color:black;
	color:white;
}
#skilldesc {
	text-align:center;
	font-family:'Moon';
	margin-top:5%;
	position:relative;
	top:-150px;
	font-size:150%;
	color:white;
}
#maintitleproject3 {
	font-family:'Cabin Sketch';
	font-size:500%;
	color:white;
	display:block;
	text-align:center;
	margin-top:5%;
	margin-left:35%;
	margin-right:35%;
	border:2px solid white;
}
#vid1{position:relative; top:-120px}
#vid2{position:relative; top:-120px}
#footertext {
	text-align:center;
	color:black;
	position:relative;
	top:70px;
	margin:0;
	padding:0;
}
#skills {
	width:100%;
	
	height:100%;
}
.skill{
	width:100%;
	
	height:100%;
}
#skill
{
	background-color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#289dfc+0,1288e2+40,045ea8+100 */
background: #289dfc; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #289dfc 0%, #1288e2 40%, #045ea8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #289dfc 0%,#1288e2 40%,#045ea8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #289dfc 0%,#1288e2 40%,#045ea8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#289dfc', endColorstr='#045ea8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
@media screen and (max-width: 1200px) {
	#maintitle {
		font-size:400%;
	}
	#subtitle {
		font-size:250%;
	}
	#maintitleproject{
		font-size:400%;
	}
	#projectdesc{
		font-size: 300%;
	}
	strong{
		font-size:120%;
	}
}
@media screen and (max-width: 900px) {
	#maintitle {
		font-size:350%;
	}
	#subtitle {
		font-size:200%;
	}
}

@media screen and (max-height: 800px) {
	#maintitle {
		font-size:400%;
		top:57%;
	}
	#subtitle{
		font-size:300%;
		top:65%;
	}
	#maintitleproject{
		font-size:400%;
		margin-top:5%;
	}
	#projectdesc{
		font-size: 300%;
		position:relative;
		top:-13%;
	}
	strong{
		font-size:120%;
	}
	#maintitleproject1{
		font-size:450%;
	}
	#projectdesc1{
		margin:0;
		font-size:100%;
		padding:0;
	}
	#projecttitle{
		margin:0;
		padding:0;
	}
	#wrapper{
		margin:0%;
	}
	
}


#titletext
{
	font-size:400%;
}

label, input,textarea {
    display: block;
    margin:0 auto;
}

input,textarea {
    margin-bottom: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 550px) {
	#maintitle {
		font-size:300%;
		top:60%;
	}
	#subtitle{
		font-size:200%;
		top:67%;
	}
	#maintitleproject{
		font-size:300%;
		margin-top:10%;
	}
	#projectdesc{
		font-size: 160%;
		position:relative;
		top:-13%;
	}
	strong{
		font-size:110%;
	}
	#maintitleproject1{
		font-size:350%;
	}
	#projectdesc1{
		margin:0;
		font-size:100%;
		padding:0;
	}
	#projecttitle{
		margin:0;
		padding:0;
	}
	#wrapper{
		margin:0%;
	}
	
#titletext
{
	font-size:300%;
}
	#mayo{
		position: relative;			
		top:-5%;
	}
	
	#maintitleproject2{
		font-size:400%;
		position:relative;
		top:-3%;
		color:white;
	}
	#vid1{
		width:400px;
		height:220px;
		top:-80px;
	}
		#vid2{
		width:400px;
		height:220px;
		top:-80px;
	}
	.fa-chevron-right{
		position: relative;
			top:30px;
	}
	
	.fa-chevron-left{
		position: relative;
			top:30px;
	}
	#teamarrow{
		top:110px;
	}
}


@media screen and (max-width: 1366px) {
	#titletext{
		font-size:320%;
	}
	
	strong{
		font-size:100%;
	}
	#arrow2{
		top:13%;
	}
}

@media screen and (max-width: 750px) {
	#titletext{
		font-size:230%;
	}
	#maintitleproject{
		margin-top:10%;
	}
	#projectdesc{
		font-size:225%;
	}
	strong{
		font-size:110%;
	}
	#arrow2{
		top:19%;
	}
}

@media screen and (max-width: 500px) {
	#titletext{
		font-size:240%;
	}
	#maintitleproject{
		margin-top:15%;
	}
	#projectdesc{
		font-size:130%;
	}
	strong{
		font-size:100%;
	}
	#arrow2{
		top:19%;
	}
	#projectdesc1{
		font-size:80%;
	}
	#teamarrow{
		display:none;
	}
	#pic{
		width:150px;
	}
	#skilldesc{
		top:-15%;
	}
}




@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.background {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.title {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.subtitle {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.icons {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.fade-in.arrow {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.hideme
{
    opacity:0;
}
.hideme2
{
    opacity:0;
}
