@font-face {
    font-family: "Moon";
    src: url("../fonts/MoonL.eot");
    src: url("../fonts/MoonL.eot?#iefix") format("embedded-opentype"),url("../fonts/MoonL.woff") format("woff"),url("../fonts/MoonL.ttf") format("truetype"),url("../fonts/MoonL.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}
#particle-canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}
@font-face {
    font-family: "KGB";
    src: url("../fonts/KG Blank Space Sketch.eot");
    src: url("../fonts/KG Blank Space Sketch.eot?#iefix") format("embedded-opentype"),url("../fonts/KG Blank Space Sketch.woff") format("woff"),url("../fonts/KG Blank Space Sketch.ttf") format("truetype"),url("../fonts/KG Blank Space Sketch.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CabinSketch";
    src: url("../fonts/Cabin Sketch Regular.eot");
    src: url("../fonts/Cabin Sketch Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/Cabin Sketch Regular.woff") format("woff"),url("../fonts/Cabin Sketch Regular.ttf") format("truetype"),url("../fonts/Cabin Sketch Regular.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}
#video-container {
	position: absolute;
}
#video-container {
	
	height:100%;
	width:100%;
	overflow: hidden;
}
#pic{
	position:relative;
	border-radius:5%;
	top:5%;
	display:block;
	margin:0 auto;
}
@font-face {
    font-family: "SUNN";
    src: url("../fonts/SUNN.eot");
    src: url("../fonts/SUNN.eot?#iefix") format("embedded-opentype"),url("../fonts/SUNN.woff") format("woff"),url("../fonts/SUNN.ttf") format("truetype"),url("../fonts/SUNN.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}

.landing {
	width:100%;
	height:100%;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.projects {
	width:100%;
	height:100%;
	background-image: url(https://images.unsplash.com/photo-1442548364206-8432f56d7595?dpr=1&auto=format&crop=entropy&fit=crop&w=1920&h=1080&q=80);
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
	z-index: -100;	
}
.aboutme {
	width:100%;
	height:100%;
	background:white;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
	z-index: -100;	
}
.ourteam{
	width:100%;
	height:100%;
}
#bizlogo
{
	position:absolute;
	top:36%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
#maintitle {
	font-family:'KGB';
	font-size:500%;
	color:white;
	position:absolute;
	top:53%;
	left:50%;
	text-align:center;
	transform:translateX(-50%) translateY(-50%);
}
strong{
	font-size:150%;
}
#subtitle {
	font-size:300%;
	font-family:'SUNN';
	letter-spacing:0px;
	position:absolute;
	color:white;
	text-align:center;
	top:60%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
.fa-chevron-down {
	position:absolute;
	color:white;
	text-align:center;
	top:90%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
a {
	text-decoration:none;
	color:white;
}
a:hover {
	color:cyan;
}
a:active {
	color:cyan;
}

#maintitleproject {
	font-family:'KGB',sans-serif;
	color:#2CB5E8;
	/* linear-gradient(0deg, #F6F6F8 0%, #1fc8db 51%, #28BBE4 75%) */
	font-size:630%;
	margin-bottom:5%;
	margin-top:10%;
	text-align:center;
}
#maintitleproject1 {
	font-family:'KGB',sans-serif;
	font-size:700%;
	color:#0A77BB;
	text-align:center;
}
#projecttitle {
	position:relative;
	top:7%;
	font-family:'SUNN';
	font-size:300%;
	color:#2F92D0;
	text-align:center;
}
#projectdesc {
	position:relative;
	font-family:'Moon';
	color:#2CB5E8;
	top:7%;
	font-size:150%;
	margin-bottom: 10%;
	text-align:center;
}
#projectdesc1 {
	color:#51CAF3;
	position:relative;
	font-family:'Raleway';
	top:7%;
	font-size:120%;
	text-align:center;
}
#bizdoors {
	position:relative;
	top:15%;
	border-radius:5%;
	padding:0;
	display:block;
	margin:0 auto;
}
#arrow1 {
	position:relative;
	text-align:center;
	top:15%;
	color:#2CB5E8;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}

#arrow2 {
	position:relative;
	text-align:center;
	top:17%;
	color:#2CB5E8;
	left:50%;
	text-shadow: 0px 1px black;
	transform:translateX(-50%) translateY(-50%);
}
#potrait {
	position:relative;
	border-radius:5%;
	display:block;
	margin:0 auto;
}
#icons {
	display:block;
	text-align:center;
	color:white;
	width:100%;
	position:absolute;
	top:70%;
	
}
.fa-facebook,.fa-envelope,.fa-linkedin,.fa-github {
	margin-right:1%;
}
#maintitleproject2 {
	font-family:'KG Blank Space Sketch',sans-serif;
	font-size:600%;
	margin-top:5%;
	position:relative;
	top:-100px;
	text-align:center;
	color:black;
}
#skilldesc {
	text-align:center;
	font-family:'Moon';
	margin-top:5%;
	position:relative;
	top:-150px;
	font-size:150%;
	color:black;
}
#maintitleproject3 {
	font-family:'Cabin Sketch';
	font-size:500%;
	color:white;
	display:block;
	text-align:center;
	margin-top:5%;
	margin-left:35%;
	margin-right:35%;
	border:2px solid white;
}
#footertext {
	text-align:center;
	color:black;
	
	margin:0;
	padding:0;
}
#skills {
	width:100%;
	height:100%;
}
.skill{
	width:100%;
	height:100%;
}
#skill
{
	background-color: white;
}
@media screen and (max-width: 1200px) {
	#maintitle {
		font-size:400%;
	}
	#subtitle {
		font-size:250%;
	}
	#maintitleproject{
		font-size:400%;
	}
	#projectdesc{
		font-size: 300%;
	}
	strong{
		font-size:120%;
	}
}
@media screen and (max-width: 900px) {
	#maintitle {
		font-size:350%;
	}
	#subtitle {
		font-size:200%;
	}
}












@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.background {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.title {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.subtitle {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.icons {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.fade-in.arrow {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.hideme
{
    opacity:0;
}
.hideme2
{
    opacity:0;
}
